networks:
  proxy:
    external: true

services:
  agentgrid:
    networks:
      - proxy
      - default
    labels:
      traefik.enable: "true"
      traefik.http.routers.agentgrid.rule: "Host(`agentgrid.alterloop.dev`)"
      traefik.http.routers.agentgrid.entrypoints: "websecure"
      traefik.http.routers.agentgrid.tls.certresolver: "le"
      traefik.http.services.agentgrid.loadbalancer.server.port: "8067"
